{% extends "base.html" %} {% block content %}
<section id="content">
  <h1>Articles</h1>
  <ul id="post-list">
    {% for article in articles_page.object_list %}
    <li>
      <a
        href="{{ SITEURL }}/{{ article.url }}"
        rel="bookmark"
        title="Permalink to {{ article.title|striptags }}"
        >{{ article.date|strftime('%y%m%d') }} - {{ article.title }}</a
      >
    </li>
    {% endfor %}
  </ul>
  {% if articles_page.has_other_pages() %} {% include 'pagination.html' %} {%
  endif %}
  <blockquote>
    🗂️ If you are interested in a specific topic, please use
    <a href="/tags">this page</a>.
  </blockquote>
</section>
{% endblock content %}
